.index___3vNqn {
  color: red;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.index___3vNqn .foo___W_Vey {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
